body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(118, 122, 153);
    overflow-x: hidden;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgb(051, 058, 088);
    width: 380px;
    padding: 5px;
}

.label {
    padding: 10px;
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: end;
}

button {
    padding: 0px;
    background-color: rgb(059, 063, 093);
    font-size: 20px;
    color: white;
    width: 90px;
    height: 90px;
    margin: 2px;
}

.frstrow {
    display: flex;
    justify-content: center;
}

.frstrow button {
    width: 184px;
    height: 90px;
}

.scndrow {
    display: flex;
    justify-content: center;
}

.thrdrow {
    display: flex;
    justify-content: center;
}

.frthrow {
    display: flex;
    justify-content: center;
}

.fithrow {
    display: flex;
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
  }